@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.toggle-button i {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.title-and-fields {
    border: 2px solid;
    border-radius: 20px;
    position: absolute;
    padding: 3% 3% 3% 3%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 25%;
}

.title-and-fields h1{
    font-family: 'Open Sans', sans-serif;
}

.title-and-fields p, input,
button {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.title-and-fields input {
    text-shadow: 2px;
    height: 5%;
}

.title-and-fields button {
    border-radius: 15px;
    padding: 2%;
    background-color: #50C878;
    cursor: pointer;
}